<!DOCTYPE HTML>
<html>
<head>
	<link rel="icon" type="image/jpg" href="https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/old-books-in-library-shelf-luoman.jpg">
	<link rel="stylesheet" href="/static/style.css">
</head>
<title>404 Not Found</title>

<body>
<h1>Error 404: Not Found</h1>

<p>Hey, I get you wanna explore the library but this doesn't exist. It might be a good idea to go back to the <a href = "http://bookapi.kronifer.repl.co/">Homepage</a>. If you want this page to exist, consider contributing on <a href = https://github.com/kronifer/bookapi/>GitHub</a>.</p>

</body>

</html>