<!DOCTYPE HTML>
<html>

<head>
	<link rel="icon" type="image/jpg" href="https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/old-books-in-library-shelf-luoman.jpg">
	<link rel="stylesheet" href="/static/style.css">
</head>
<title>500 Internal Server Error</title>

<body>
	<h1>Error 500: Internal Server Error</h1>

	<p>It seems there's been an error on our side. Try again later, or report the bug <a href="https://github.com/Kronifer/bookapi/issues/new" target=_blank>here</a>.</p>

</body>

</html>