<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/static/style.css">
</head>
<title>Bookapi</title>

<body>

	<h1>About Bookapi</h1>

	<ul>
		<li>
			<p><a href="https://bookapi.kronifer.repl.co/about" target=_blank>About Bookapi</a></p>
		</li>
		<li>
			<p><a href="https://bookapi.kronifer.repl.co/" target=_blank>Homepage</a></p>
		</li>
	</ul>

	<p> I created Bookapi not because I had a vision, but simply because I was bored. I set out to create an easy to use API
		to keep track of one of my favorite things, books.</p>

	<p>Bookapi is prgrammed and hosted on <a href=https://repl.it target=_blank>repl.it</a>, a great website for hosting web apps, discord
		bots and the like.</p>

	<p>If you're interested in helping me with developing Bookapi, feel free to open a pull request on the <a href=https://github.com/kronifer/bookapi target=_blank>Github
		repo</a>.
</body>

</html>
