<!DOCTYPE html>
<html>
<head>
<link rel="icon" 
      type="image/jpg" 
      href="https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/old-books-in-library-shelf-luoman.jpg">
<link rel="stylesheet" href="/static/style.css">
</head>
<title>Bookapi</title>
<body>

<h1>Welcome to Bookapi!</h1>

<h2>The API for books, for everyone.</h2>

<ul>
    <li><a href="https://bookapi.kronifer.repl.co/about">About Bookapi</a></li>
    <li><a href="https://bookapi.kronifer.repl.co/">Homepage</a></li>
</ul>

<p>The docs are <a href=https://bookapi.rtfd.io//>here</a>.</p>

<p>To start, go to <a href=https://bookapi.kronifer.repl.co/api/v1/data/get?title=Dragonwatch>this link</a> to get the info for Dragonwatch by Brandon Mull.</p>

<p style = "font-weight: bold";>NOTE: The API is still in alpha and does not store much information for books.</p>

<p>Excuse my garbage webpage, I'm a python dude first and foremost :-)</p>

<p>Feel free to checkout the Github repo <a href=https://github.com/kronifer/bookapi>here</a>!




</body>
</html>